@import "../../index.module.scss";

$cropperBorderWidth: 4px;

.cropper {
  position: absolute;
  box-shadow: 0 0 0 $cropperBorderWidth #fff0;
  top: -100px;

  .highlight-container {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    cursor: pointer;

    .highlight {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        touch-action: none;
      }
    }
  }

  .resizers {
    width: 100%;
    height: 100%;
    overflow: visible;

    .corner {
      width: 20px;
      height: 20px;
      position: absolute;
    }

    :nth-child(1) {
      top: -$cropperBorderWidth;
      left: -$cropperBorderWidth;
      border-top: $cropperBorderWidth solid #ffffff;
      border-left: $cropperBorderWidth solid #ffffff;
      cursor: nwse-resize;
    }

    :nth-child(2) {
      top: -$cropperBorderWidth;
      right: -$cropperBorderWidth;
      border-top: $cropperBorderWidth solid #ffffff;
      border-right: $cropperBorderWidth solid #ffffff;
      cursor: nesw-resize;
    }

    :nth-child(3) {
      bottom: -$cropperBorderWidth;
      right: -$cropperBorderWidth;
      border-bottom: $cropperBorderWidth solid #ffffff;
      border-right: $cropperBorderWidth solid #ffffff;
      cursor: nwse-resize;
    }

    :nth-child(4) {
      bottom: -$cropperBorderWidth;
      left: -$cropperBorderWidth;
      border-bottom: $cropperBorderWidth solid #ffffff;
      border-left: $cropperBorderWidth solid #ffffff;
      cursor: nesw-resize;
    }

    .edge {
      position: absolute;
    }

    :nth-child(5) {
      width: calc(20px + $cropperBorderWidth);
      height: $cropperBorderWidth;
      top: -$cropperBorderWidth;
      right: calc(50% - (20px + $cropperBorderWidth) / 2);
      background-color: #ffffff;
      cursor: ns-resize;
    }

    :nth-child(6) {
      width: $cropperBorderWidth;
      height: calc(20px + $cropperBorderWidth);
      top: calc(50% - (20px + $cropperBorderWidth) / 2);
      right: -$cropperBorderWidth;
      background-color: #ffffff;
      cursor: ew-resize;
    }

    :nth-child(7) {
      width: calc(20px + $cropperBorderWidth);
      height: $cropperBorderWidth;
      bottom: -$cropperBorderWidth;
      right: calc(50% - (20px + $cropperBorderWidth) / 2);
      background-color: #ffffff;
      cursor: ns-resize;
    }

    :nth-child(8) {
      width: $cropperBorderWidth;
      height: calc(20px + $cropperBorderWidth);
      top: calc(50% - (20px + $cropperBorderWidth) / 2);
      left: -$cropperBorderWidth;
      background-color: #ffffff;
      cursor: ew-resize;
    }
  }
}
