$primary-color: #377db5;
$secondary-color: #509fdc;
$tertiary-color: #cee8fb;
$base-text-color: gray;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  baseTextColor: $base-text-color;
}
