$primary-color: #377db5;
$secondary-color: #509fdc;
$tertiary-color: #cee8fb;
$text-base-color: gray;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  textBaseColor: $text-base-color;
}
